# Data verification

Explain how to verify data that has been obtained through the DKG

